<div class="markdown-body">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
           <!-- default -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-3014668630648493"
               data-ad-slot="3073032858"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
                <br/>
  {{ post.content }}
</div>
<br/>
<br/>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- default -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3014668630648493"
     data-ad-slot="3073032858"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
